html{
    height:100%;
}

body {
    min-height:100%;
    padding-top: 40px;
    padding-bottom: 40px;
    background: url(../images/background.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position:relative;
}

body::after{ content:''; display:block; height:100px; }

th {
    background-color: lime;
    border: 1px solid black;
    align-items: center;
    text-align: center;
}

td {
    border: 1px solid black;
    align-items: center;
    text-align: center;
}

img {
    display: inline-block;
    margin: 0 auto;
}

.inputFull {
    width: 100%;
}

.labelInline {
    display: inline;
    float: left;
    margin-top: 7px;
    margin-bottom: 7px;
}

.labelRegInline {
    display: inline;
    float: left;
    margin-top: 22px;
}

.trNone {
    border: none;
}

.tdNone {
    border: none;
}

.footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    background-color: #bcefc4;
    text-align: center;
}

.h1Center {
    align-items: center;
    text-align: center;
}

.h3Center {
    align-items: center;
    text-align: center;
}

.pCenter {
    align-items: center;
    text-align: center;
}

.pRight {
    text-align: right;
}

.pLeft {
    text-align: left;
}

#h2Time {
    text-align: right;
    margin-bottom: 0;
    margin-top: 0;
}

.tableMain {
    border: 1px solid black;
    width: 100%;
}

.inputMain[type=text] {
    padding: 5px;
    border: 2px solid #ccc;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    width: 250px;
    font-family: serif;
    font-size: 14px;
}

.inputMain[type=text]:focus {
    border-color: #333;
}

.inputMain[type=submit] {
    padding: 5px 15px;
    background: #ccc;
    cursor: pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    width: 75px;
}

#searchSubmit:hover {
    opacity: 0.5
}

#menu {
    width: 125%;
    border: none;
}

#menuTable0, #menuTable1, #menuTable2, #menuTable3, #menuTable4, #menuTable5 {
    width: 50%;
    margin-left: 40px;
    border: none;
}

#menuTable1 {
    margin-top: -105px;
}

#menuTable4 {
    margin-top: -20px;
}

.th1 {
    width: 50%;
    text-align: center;
}

.th2 {
    width: 25%;
    text-align: center;
}

.th3 {
    width: 25%;
    text-align: center;
}

.tr1 {
    align-items: center;
    text-align: center;
}

.thMain {
    text-align: center;
}

.spacer {
    height: 10px;
}

#tdDishName0, #tdDishName1, #tdDishName2, #tdDishName3, #tdDishName4, #tdDishName5 {
    text-align: left;
}

.thLeft {
    text-align: left;
}

#trMenuTable1, #trMenuTable2, #trMenuTable3 {
    border: none;
}

#tdMenuTable0, #tdMenuTable1, #tdMenuTable2, #tdMenuTable3, #tdMenuTable4, #tdMenuTable5 {
    border: none;
}

#trFooter1, #trFooter2, #trFooter3 {
    border: none;
}

#tdFooter1, #tdFooter2, #tdFooter3 {
    border: none;
}

#tableFooter {
    width: 100%;
}

#searchForm {
    margin-top: 20px;
}

#divImg {
    width: 100%;
    text-align: center;
    border: none;
}

.form-signin {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}

.form-signin .form-signin-heading,
.form-signin .checkbox {
    margin-bottom: 10px;
}

.form-signin .checkbox {
    font-weight: normal;
}

.form-signin .form-control {
    position: relative;
    height: auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
    font-size: 16px;
}

.form-signin .form-control:focus {
    z-index: 2;
}

.form-signin input {
    margin-top: 10px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.form-signin button {
    margin-top: 10px;
}

.has-error {
    color: red;
    display: inline-block;
}

.hasLogin-error {
    color: red;
}

.nothingFound {
    align-items: center;
    text-align: center;
    font-style: italic;
    color: red;
}