body {
    background-color: antiquewhite;
}

h1 {
    text-align: center;
}

h2 {
    text-align: right;
    margin-bottom: 0%;
    margin-top: 0%;
}

label {
    display: inline-block;
    float: left;
    clear: both;
    width: 125px;
    text-align: right;
    margin: 5px;
}

input[type=text] {
    padding: 5px;
    border: 2px solid #ccc;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    width: 250px;
    font-family: serif;
    font-size: 14px;
}

input[type=text]:focus {
    border-color: #333;
}

input[type=submit] {
    padding: 5px 15px;
    background: #ccc;
    cursor: pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    width: 75px;
}

#searchSubmit:hover {
    opacity: 0.5
}

table {
    border: 1px solid black;
}

#menu {
    width: 100%;
    border: none;
}

#menuTable0, #menuTable1, #menuTable2, #menuTable3, #menuTable4, #menuTable5 {
    width: 50%;
    margin-left: 215px;
    border: none;
}

#menuTable1 {
    margin-top: -118px;
}

#menuTable4 {
    margin-top: -27px;
}

th {
    background-color: lime;
    border: 1px solid black;
    align-items: center;
}

td {
    border: 1px solid black;
    align-items: center;
    text-align: center;
}

#tdDishName0, #tdDishName1, #tdDishName2, #tdDishName3, #tdDishName4, #tdDishName5 {
    text-align: left;
}

#trMenuTable1, #trMenuTable2, #trMenuTable3 {
    border: none;
}

#tdMenuTable0, #tdMenuTable1, #tdMenuTable2, #tdMenuTable3, #tdMenuTable4, #tdMenuTable5 {
    border: none;
}

#trFooter1, #trFooter2, #trFooter3 {
    border: none;
}

#tdFooter1, #tdFooter2, #tdFooter3 {
    border: none;
}

#tableFooter {
    width: 100%;
    background-color: aqua;
}

#searchForm {
    margin-top: 20px;
}

#divImg{
    width:100%;
    text-align:center;
    border:none;
}

img{
    display:inline-block;
    height:500px;
    margin: 0 auto;
}


